:host {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

:host ::ng-deep .jp-os-window {
  pointer-events: auto;
}

.jp-os-window__left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
